@import "tailwindcss";
@import "./utilities.css";
@import "./animations.css";
@import "./components.css";

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: white;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
}